@page
@model library_dbms.Pages.Assets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.BarcodeNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.BarcodeNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.ModelNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.ModelNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.SerialNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.SerialNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Asset.AssetId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
