@page
@model library_dbms.Pages.Assets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>

    <label for="categories">Category:</label>
    <select id="categories" asp-for="AssetCategory" asp-items="Model.Categories">
        <option value="">All</option>
    </select>

    <br />

    <label for="manufacturers">Manufacturer:</label>
    <select id="manufacturers" asp-for="AssetManufacturer" asp-items="Model.Manufacturers">
        <option value="">All</option>
    </select>

    <br />

    <label for="statuses">Status:</label>
    <select id="statuses" asp-for="AssetStatus" asp-items="Model.Statuses">
        <option value="">All</option>
    </select>

    <p>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
    <!--   <p>
           Barcode Number: <input type="text" asp-for="BarcodeSearcg" />
           <input type="submit" value="Filter" />
       </p>
       <p>
           Manufacturer: <input type="text" asp-for="ManufacturerSearch" />
           <input type="submit" value="Filter" />
       </p>
       <p>
           Model Number: <input type="text" asp-for="ModelSearch" />
           <input type="submit" value="Filter" />
       </p>
       <p>
           Serial Number: <input type="text" asp-for="SerialSearch" />
           <input type="submit" value="Filter" />
       </p> -->

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].ModelNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].BarcodeNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].SerialNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset[0].AssetStatus)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Asset) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarcodeNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssetId">Edit</a> <br />
                <a asp-page="./AddLog" asp-route-id="@item.AssetId">Logs</a> <br />
                <a asp-page="./Details" asp-route-id="@item.AssetId">Details</a> <br />
                <a asp-page="./Delete" asp-route-id="@item.AssetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
