@page
@model library_dbms.Pages.AssetLocations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Asset ID: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetLocation[0].Asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetLocation[0].BuildingNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetLocation[0].RoomNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetLocation[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AssetLocation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
}
    </tbody>
</table>
