@page
@model library_dbms.Pages.SuppliedBys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuppliedBy[0].AssetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliedBy[0].VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliedBy[0].PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliedBy[0].PurchaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SuppliedBy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AssetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
