@page
@model library_dbms.Pages.EmployeeLocations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLocation[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLocation[0].BuildingNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLocation[0].RoomNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmployeeLocation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNum)
            </td>
        </tr>
}
    </tbody>
</table>
