@page
@model library_dbms.Pages.PerformedBys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformedBy[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformedBy[0].TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformedBy[0].Log)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PerformedBy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log.Description)
            </td>

        </tr>
}
    </tbody>
</table>
