@page
@model library_dbms.Pages.Statuses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status[0].Status1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Status) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status1)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StatusId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StatusId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
