@page
@model library_dbms.Pages.MaintenanceLogs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceLog[0].DatePerformed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceLog[0].HoursLogged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceLog[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceLog[0].Asset)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaintenanceLog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePerformed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursLogged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.Category)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LogId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LogId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
